.home{
    border: 2px solid red;
    
    width: 393px;
    height: 852px;
    margin-left: 0%;
    background: linear-gradient(20.65deg, #EA4080 -9.99%, #EE805F 128.53%);
    ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     margin-left: 600px;
     
     
   
    

    @media only screen and (min-width: 200px)and (max-width:767px) {
       
        margin-left: 0%;
        
    }

} 